*{
    font-style: italic;
}

#form{
    height: 40%;
    width: 20%;
}

.contanier{
    height: auto;
    width: 50%;
}

section{
    margin-left: 45%;
}

#add{
    display: inline-block;
    width: 110%;
    margin-top: 10%;
}